body {
	margin: 0px;
	padding: 0px;
}

.addcount-div2 {
	position: relative;
	float: left;
	/* width: 950px; */
	height: 570px;
	margin-left: 400px;
}

.addcount-div2 span{
	width: 200px;
	/* border: 1px red solid; */
}

.addcount-div1 {
	position: relative;
	float: left;
	width: 100%;
	height: 60px;
	border-bottom-color: #ececec;
	border-bottom: 1px solid #ececec;
	margin-top: 8px;
}

.addcount-div1 p {
	position: relative;
	float: left;
	font-size: 20px;
	color: #378bbe;
	margin: 10px 0;
	font-family: 微软雅黑;
	margin-left: 30px;
}

td {
	font-size: 20px;
	font-family: 微软雅黑;
	margin-left: 5px;
}

table tr {
	height: 60px;
}

.addconut-input {
	position: relative;
	margin-left: 20px;
	width: 650px;
	height: 40px;
	border-radius: -webkit-calc(10px);
	font-size: 20px;
}

.addconut-input-sex {
	position: relative;
	margin-left: 180px;
}

.submit {
	position: relative;
	width: 100px;
	height: 40px;
	margin-left: 110px;
	margin-top: 30px;
	border-radius: -webkit-calc(4px);
	background-color: #378bbe;
	font-size: 16px;
	font-family: 微软雅黑;
	background-position:center;
	background-image: url("/images/Doctor_PersonalLogo.png");
}

.submit:HOVER{
	background-color:#2393d7;
}

/* textarea{
	position: relative;
	margin-left: 20px;
	width: 650px;
	height: 100px;
	border-radius: -webkit-calc(10px);
	overflow-y:auto;
	resize:none;
}

.ri{
	clear:both;
	position: relative;
	float:left;
	border: 1px red solid;
	padding:0;
	margin-top: 0px;
} */