 #page { padding: 50px 50px 300px; width: 750px; margin: 0 auto; }
#h1, h2, h3 { margin: 1em 0 0.3em; }
#.section { margin-bottom: 50px; }
#.section ol { margin: 5px 20px; }
#.section ol li { list-style: decimal inside; margin: 5px 0; }
.search-input { width: 300px; height: 20px; padding: 5px 2px 0 4px; }
#.search-submit { padding: 4px 10px; margin-left: 5px; }
#input.g-submit { padding: 2px 8px; margin-left: 5px; }
#html { overflow-y: scroll; }