<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nyist.Ajax.day2.practice.case2.Dao.AjaxMapper">
	
	<select id="queryCityByCountry" parameterType="java.lang.String" resultType="java.lang.String">
		select area from city where country = #{country}
	</select>
</mapper>
