<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">
	
	<!-- 配置数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="oracle.jdbc.OracleDriver"/>
		<property name="url" value="jdbc:oracle:thin:@localhost:1521:ORCL"/>
		<property name="username" value="scott"/>
		<property name="password" value="ll"/>
	</bean>
	
	<!-- 配置SqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mapperLocations" value="classpath:nyist/net/Library/Dao/Impl/LibraryMapper.xml"/>
	</bean>
	
	<!-- 事务管理器 transactionManager 不同的底层实现需要不同的事务管理器 底层是jdbc,mybatis: DataSourceTransactionManager-->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- 事务通知类	如果事务管理器的id=transactionManager, 则transaction-manager可以省略 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="Select*" propagation="SUPPORTS"/>
			<tx:method name="Insert*" propagation="REQUIRED"/>
			<tx:method name="Update*" propagation="REQUIRED"/>
			<tx:method name="Delete*" propagation="REQUIRED"/>
			<tx:method name="select*" propagation="SUPPORTS"/>
			<tx:method name="insert*" propagation="REQUIRED"/>
			<tx:method name="update*" propagation="REQUIRED"/>
			<tx:method name="delete*" propagation="REQUIRED"/>
			<tx:method name="ReturnBoooks" propagation="REQUIRED"/>
			<tx:method name="PersonRegister" propagation="REQUIRED"/>
			<tx:method name="Register" propagation="REQUIRED"/>
			<tx:method name="Login" propagation="SUPPORTS"/>
			<tx:method name="PersonReadInformation" propagation="REQUIRED"/>
			<tx:method name="BrrowBooks" propagation="REQUIRED"/>
			<tx:method name="BrrowBooksInformation" propagation="REQUIRED"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- 使用SpringAOP动态代理的方式,添加额外功能 -->
	<aop:config>
		<aop:pointcut expression="execution(* nyist.net.Service..LibraryServiceImpl.*(..))" id="pointcut"/>
		<aop:advisor advice-ref="txAdvice" pointcut-ref="pointcut"/>
	</aop:config>
	
	<!-- 配置mapper扫描器 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
		<property name="basePackage" value="nyist.net.Library.Dao"/>
	</bean>
</beans>