<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>WebTreeStructures</display-name>
  
  <servlet>
  	<servlet-name>ListTreeServlet</servlet-name>
  	<servlet-class>com.nyist.cn.Servlet.ListTreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ListTreeServlet</servlet-name>
  	<url-pattern>/ListTreeServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
  	<servlet-name>AddTree</servlet-name>
  	<servlet-class>com.nyist.cn.Servlet.AddTree</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddTree</servlet-name>
  	<url-pattern>/AddTree</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ViewTreeServlet</servlet-name>
  	<servlet-class>com.nyist.cn.Servlet.ViewTreeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ViewTreeServlet</servlet-name>
  	<url-pattern>/ViewTreeServlet</url-pattern>
  </servlet-mapping>
  
</web-app>