<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>showAllBooksServlet</servlet-name>
    <servlet-class>com.dw.controll.ShowAllServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BackBookServlet</servlet-name>
    <servlet-class>com.dw.controll.BackBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>com.dw.controll.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DelBookServlet</servlet-name>
    <servlet-class>com.dw.controll.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBookServlet</servlet-name>
    <servlet-class>com.dw.controll.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PreServlet</servlet-name>
    <servlet-class>com.dw.controll.PreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dw.controll.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchByIdServlet</servlet-name>
    <servlet-class>com.dw.controll.SearchByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CodeServlet</servlet-name>
    <servlet-class>com.dw.controll.CodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.dw.controll.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowReaderServlet</servlet-name>
    <servlet-class>com.dw.controll.ShowReaderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showUserBook</servlet-name>
    <servlet-class>com.dw.controll.showUserBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserBorrowServlet</servlet-name>
    <servlet-class>com.dw.controll.UserBorrowServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowBorrowBook</servlet-name>
    <servlet-class>com.dw.controll.ShowBorrowBook</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowReaderBorrowServlet</servlet-name>
    <servlet-class>com.dw.controll.showBorrowReaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowReaderBorrowServlet</servlet-name>
    <url-pattern>/RBorrow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showAllBooksServlet</servlet-name>
    <url-pattern>/showAllBooks</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/stadd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackBookServlet</servlet-name>
    <url-pattern>/BackBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DelBookServlet</servlet-name>
    <url-pattern>/stdelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/stupdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreServlet</servlet-name>
    <url-pattern>/pre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchByIdServlet</servlet-name>
    <url-pattern>/searchById</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CodeServlet</servlet-name>
    <url-pattern>/code.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowReaderServlet</servlet-name>
    <url-pattern>/showReader</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showUserBook</servlet-name>
    <url-pattern>/showUserBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserBorrowServlet</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowBorrowBook</servlet-name>
    <url-pattern>/ShowBorrowBook</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.dw.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>